{% extends "tracker/topbar.html" %}

{% block content %}

<h1>Outages:</h1>
<hr>
<ul class="nav nav-pills text-right">
  <li><a href="{% url 'outage:new_outage' %}" class="btn btn-default">Add Outage <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
  <li><a href="{% url 'outage:out_csv_dump' %}" class="btn btn-default">Export Records <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></li>
</ul>
<p></p>
<table class="table">
  <tr>
    <th>Description</th>
    <th>Severity</th>
    <th>Date</th>
    <th>Status</th>
  </tr>
  {% for o in outage %}
  <tr>
  <td><a href="{% url 'outage:outage_detail' o.id %}">{{o.description}}</a></td>
    <td>{{o.sev.name}}</td>
    <td>{{o.began}}</td>
    <td>{{o.status}}</td>
  </tr>
  {% empty %}
  <tr>
    <td>No Outages</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
