{% extends "tracker/topbar.html" %}

{% block content %}
<h1 class="text-uppercase">{{out.description}}</h1>
<div>
<ul class="nav nav-pills nav-justified">
  <li> </li>
  <li> </li>
  <li> </li>
  <li><a class="btn btn-default" href="{% url 'outage:edit_outage' out.id %}" role="button">Edit Outage <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
  {% if request.user.is_superuser or request.user == t.proc_owner or request.user == t.business_owner %}
  <li><a class="btn btn-danger" href="" role="button">Delete Record <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
  {% endif %}
</ul>
</div>
<hr>
<div class="container-fluid text-center">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"<strong>Status: </strong></div>
      </div>
      <div class="panel-body">
          {{out.status}}
      </div>
    </div>
  </div>
    <div class="row">
        <div class="col-md-6 well well-sm"><h4><strong>Began: </strong>{{out.began}}</h4></div>
        <div class="col-md-6 well well-sm"><h4><strong>Ended: </strong>{{out.end}}</h4></div>
        <div class="col-md-6 well well-sm"><h4><strong>Detected: </strong>{{out.detected}}</h4></div>
        <div class="col-md-6 well well-sm"><h4><strong>Owner: </strong>{{out.auth_owner.first_name}} {{out.auth_owner.last_name}}</h4></div>
    </div>

  <hr>
    <div class="row well text-center">
      <div class="row">
        <div class="col-md-6"><strong>Environment: </strong>{{out.environ.name}}</div>
        <div class="col-md-6"><strong>Production?: </strong>{{out.environ.prod}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6"><strong>Service: </strong>{{out.service.name}}</div>
        <div class="col-md-6"><strong>Severity: </strong>{{out.sev.value}}</div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"<strong>RCA: </strong></div>
        </div>
        <div class="panel-body">
            {{out.rca}}
        </div>
      </div>
    </div>
</div>

{% endblock content %}
